.logging {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgb(71, 61, 236);
  background: linear-gradient(
    130deg,
    rgba(71, 61, 236, 1) 0%,
    rgba(9, 9, 145, 1) 46%,
    rgba(0, 212, 255, 1) 100%
  );
  z-index: 900;
}
.logo {
  background-color: white;
  border-radius: 5px;
  width: 450px;
  height: 260px;
  margin-bottom: 50px;
}
.logWindow {
  margin: 0 auto;
  display: grid;
  grid-template-rows: repeat(20%, 4);
  grid-gap: 1%;
  background-color: white;
  border-radius: 5px;
  width: 350px;
  height: 300px;
  justify-items: center;
  align-items: center;
  padding: 10px;
}
.logWindowBig {
  height: 400px;
}
.regWindowForm {
  height: 350px;
  display: grid;
  grid-template-rows: repeat(15%, 10);
  justify-items: auto;
}
.logWindowForm {
  height: 320px;
  display: grid;
  grid-template-rows: repeat(15%, 6);
  justify-items: auto;
}

.logButtons {
  background-color: #e6e6e6;
  border: none;
  border-radius: 5px;
  display: block;
  width: 100px;
  height: 50px;
  transition: all 0.3s;
}
.logButtons:hover,
.submit:hover {
  background-color: #d9d9d9;
}
.submit {
  margin-top: 5px;
}
